.mrwid-theme {
	box-sizing: border-box;
}
.mrwid-theme *, .mrwid-theme.mrwid-default .mrwid-layout *::before, .mrwid-theme *::after {
    box-sizing: inherit;
}
.mrwid-theme .mrwid-layout .mrwid-pages {
    list-style-type: none;
    margin: 0;
}
.widget_mr_categories .widgettitle {
    text-transform: capitalize;
}
.mrwid-theme .mrwid-layout .mr-wid:not(.active):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: block;
    cursor: pointer;
}
.mrwid-theme .mrwid-layout .ios-scrolling {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.mrwid-theme .mrwid-layout .mrwid-pages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner {
    flex-wrap: wrap;
}
.mrwid-theme .mrwid-layout .mr-wid {
    position: relative;
}
.mrwid-theme .mrwid-layout .mr-wid, .mrwid-theme .mrwid-layout .mrwid-container {
    min-height: 100%;
}
.mrwid-subcatactive .mrwid-subcat {
    display: none;
}
.mrwid-theme .mrwid-layout .mrwid-pages:not(.mrwid-perliner) .mr-wid, .mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-1perline .mr-wid {
    width: 100%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-2perline .mr-wid {
    width: 50%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-3perline .mr-wid {
    width: 33.33333333333333%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-4perline .mr-wid {
    width: 25%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-5perline .mr-wid {
    width: 20%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-6perline .mr-wid {
    width: 16.66666666666667%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-7perline .mr-wid {
    width: 14.28571428571429%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-8perline .mr-wid {
    width: 12.5%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-9perline .mr-wid {
    width: 11.11111111111111%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-10perline .mr-wid {
    width: 10%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-11perline .mr-wid {
    width: 9.090909090909091%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-12perline .mr-wid {
    width: 8.333333333333333%;
}
.mrwid-theme .mrwid-layout .mrwid-pages:not(.mrwid-page1), .mrwid-theme .mrwid-layout .mrwid-scroll:not(.mrwid-below):not(.loading) {
    display: none;
}
.mrwid-theme .mrwid-layout .mrwid-below.loading span, .mrwid-theme .mrwid-layout .mrwid-scroll.loading span {
    font-size: 0;
}
.mrwid-theme .mrwid-layout .mrwid-below.loading span:after, .mrwid-theme .mrwid-layout .mrwid-scroll.loading span:after {
    content: "...";
    font-size: initial;
}
/*--IMAGES--*/
.mrwid-theme .mrwid-layout .mr-wid .mrwid-container .mrwid-image {
    overflow: hidden;
}
.mrwid-theme .mrwid-layout:not(.mrwid-parallax), .mrwid-theme .mrwid-layout:not(.mrwid-parallax) .mr-wid .mrwid-container, .mrwid-theme .mrwid-layout:not(.mrwid-parallax) .mr-wid .mrwid-container .mrwid-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail), .mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail) .mr-wid .mrwid-container, .mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail) .mr-wid .mrwid-container .mrwid-image {
    background-attachment: fixed;
    background-position: top center;
    background-size: auto 115vh;
}
_:-ms-lang(x), _:-webkit-full-screen, .mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail), .mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail) .mr-wid .mrwid-container, .mrwid-theme .mrwid-layout.mrwid-parallax:not(.mrwid-thumbnail) .mr-wid .mrwid-container .mrwid-image {
    background-attachment: scroll;
    background-position: center !important;
}
.mrwid-theme .mrwid-layout .mr-wid .mrwid-container .mrwid-image {
	min-height: 4.5rem;
}
/*--WINDOW HEIGHT--*/
.mrwid-theme .mrwid-layout.mrwid-windowheight .mrwid-pages {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
}
.mrwid-theme .mrwid-layout:not(.mrwid-list).mrwid-windowheight .mrwid-pages:not(.mrwid-perliner) {
    overflow: auto;
}
/*--PAGINATION ON CONTENT--*/
.mrwid-theme .mrwid-layout.mrwid-contentpagination {
	position: relative;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-pagination {
	position: absolute;
    bottom: 1rem;
	width: 100%;
	z-index: 2;
	text-align: center;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-below {
	position: absolute;
	width: 100%;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-next, .mrwid-theme .mrwid-layout.mrwid-contentpagination  .mrwid-prev {
	position: absolute;
	top: calc(50% - 0.75rem);
	float: inherit;
	z-index: 2;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-prev {
	left: 0;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-next {
	right: 0;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
    padding: 0 1.75rem 4rem 1.75rem;
}
/*---WHEN ACTIVE HIDE INACTIVE---*/
.mrwid-theme .mrwid-layout.mrwid-hideinactives .mr-wid.inactive {
	display: none;
}
@media only screen and (orientation: portrait) {
    .mrwid-theme .mrwid-layout:not(.mrwid-landscape) .mrwid-pages:not(.mrwid-perliner) {
		flex-direction: column;
	}
}
@media only screen and (max-width: 59.94em) and (min-width: 47.94em) {
	.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner:not(.mrwid-3perline):not(.mrwid-2perline):not(.mrwid-1perline) .mr-wid {
		width: 33.333333%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 5.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: landscape) {
	.mrwid-theme .mrwid-layout:not(.mrwid-portrait) .mrwid-pages.mrwid-perliner:not(.mrwid-2perline):not(.mrwid-1perline) .mr-wid {
		width: 50%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 7.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: portrait) {
	.mrwid-theme .mrwid-layout:not(.mrwid-landscape) .mrwid-pages.mrwid-perliner:not(.mrwid-1perline) .mr-wid {
		width: 100%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 7.4rem;
    }
}
