.mr-hidden {
    display: none !important;
}
.mr-theme {
	box-sizing: border-box;
}
.mr-theme *, .mr-theme.mr-default .mr-layout *::before, .mr-theme *::after {
    box-sizing: inherit;
}
.mr-theme .mr-layout {
    overflow: hidden;
}
.mr-theme .mr-layout .mr-pages, .mr-theme .mr-layout .mr-tabs {
    list-style-type: none;
    margin: 0;
}
.widget_mr_categories .widgettitle {
    text-transform: capitalize;
}
.mr-theme .mr-layout .mr-item:not(.active):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: block;
    cursor: pointer;
}
.mr-layout:not(.mr-hover) .mr-item:not(.active), .mr-layout:not(.mr-hover):not(.mr-donotinactive) .mr-item.active {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mr-layout:not(.mr-hover):not(.mr-donotinactive) .mr-item.active *.mr-content {
    cursor: initial;
}
/*
.mr-theme .mr-layout .mr-item:not(.active) {
    cursor: pointer;
}
.mr-theme .mr-layout:not(.mr-donotinactive) .mr-item.active {
    cursor: pointer;
}
.mr-layout:not(.mr-hover) .mr-item.active .mr-content {
    cursor: initial;
}*/
.mr-theme .mr-layout .ios-scrolling {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.mr-theme .mr-layout .mr-pages, .mr-theme .mr-layout .mr-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
}
.mr-theme .mr-layout .mr-pages.inactive:not(.active) {
    display: none;
}
.mr-theme .mr-layout .mr-pages.mr-perliner {
    flex-wrap: wrap;
}
.mr-theme .mr-layout .mr-tabs {
    overflow: auto;
}
.mr-theme .mr-layout.mr-tabsleft .mr-tabs, .mr-theme .mr-layout.mr-tabsright .mr-tabs {
    width: 25%;
    flex-wrap: wrap;
}
.mr-theme .mr-layout.mr-tabsright .mr-tabs {
    float: right;
}
.mr-theme .mr-layout.mr-tabsleft .mr-tabs {
    float: left;
}
.mr-theme .mr-layout.mr-tabsbottom {
    display: flex;
    flex-flow: column;
}
.mr-theme .mr-layout.mr-tabsbottom .mr-tabs, .mr-theme .mr-layout.mr-tabsbottom .mr-arrows, .mr-theme .mr-layout.mr-tabsbottom .mr-below, .mr-theme .mr-layout.mr-tabsbottom .mr-pagination  {
    order: 1;
}
.mr-theme .mr-layout.mr-tabsleft .mr-pages, .mr-theme .mr-layout.mr-tabsright .mr-pages {
    width: 75%;
}
.mr-theme .mr-layout .mr-item, .mr-theme .mr-layout .mr-title, .mr-theme .mr-layout .mr-content, .mr-theme .mr-layout .mr-tab {
    position: relative;
}
.mr-theme .mr-layout .mr-tab {
    text-align: center;
    cursor: pointer;
}
.mr-theme .mr-layout .mr-tab.active {
    font-weight: 700;
}
.mr-theme .mr-layout:not(.mr-windowheight) .mr-item, .mr-theme .mr-layout:not(.mr-windowheight) .mr-container {
    min-height: 100%;
}
.mr-subitemactive .mr-subcat {
    display: none;
}
.mr-theme .mr-layout .mr-pages:not(.mr-perliner) .mr-item, .mr-theme .mr-layout .mr-pages.mr-perliner.mr-1perline .mr-item, .mr-theme .mr-layout .mr-tabs:not(.mr-perliner) .mr-tab, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-1perline .mr-tab {
    width: 100%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-2perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-2perline .mr-tab {
    width: 50%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-3perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-3perline .mr-tab {
    width: 33.33333333333333%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-4perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-4perline .mr-tab {
    width: 25%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-5perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-5perline .mr-tab {
    width: 20%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-6perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-6perline .mr-tab {
    width: 16.66666666666667%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-7perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-7perline .mr-tab {
    width: 14.28571428571429%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-8perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-8perline .mr-tab {
    width: 12.5%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-9perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-9perline .mr-tab {
    width: 11.11111111111111%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-10perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-10perline .mr-tab {
    width: 10%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-11perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-11perline .mr-tab {
    width: 9.090909090909091%;
}
.mr-theme .mr-layout .mr-pages.mr-perliner.mr-12perline .mr-item, .mr-theme .mr-layout .mr-tabs.mr-perliner.mr-12perline .mr-tab {
    width: 8.333333333333333%;
}
.mr-theme .mr-layout .mr-scroll:not(.mr-below):not(.loading) {
    opacity: 0;
}
.mr-theme .mr-layout .mr-below.loading span, .mr-theme .mr-layout .mr-scroll.loading span {
    font-size: 0;
}
.mr-theme .mr-layout .mr-below.loading span:after, .mr-theme .mr-layout .mr-scroll.loading span:after {
    content: "...";
    font-size: initial;
}
/*--IMAGES--*/
.mr-theme .mr-layout .mr-image {
    overflow: hidden;
    min-height: 4.5rem;
    margin: 0;
}
.mr-theme .mr-layout:not(.mr-thumbnail) .mr-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mr-theme .mr-layout .mr-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
    .mr-theme .mr-layout.mr-parallax .mr-image {
        background-attachment: fixed;
    }
    /*EDGE*/
    _:-ms-lang(x), _:-webkit-full-screen, .mr-theme .mr-layout.mr-parallax .mr-image {
        background-attachment: scroll !important;
        background-position: center !important;
    }
    /*iOS*/
    @supports (-webkit-overflow-scrolling: touch) {
        .mr-theme .mr-layout.mr-parallax .mr-image {
            background-attachment: scroll !important;
            background-position: center !important;
        }
    }
}
.mr-theme .mr-layout .mr-image figcaption {
    display: inherit;
}
/*--WINDOW HEIGHT--*/
.mr-theme .mr-layout.mr-windowheight .mr-pages {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
}
.mr-theme .mr-layout:not(.mr-list).mr-windowheight .mr-pages:not(.mr-perliner) {
    overflow: auto;
}
.mr-theme .mr-layout.mr-windowheight .mr-item, .mr-theme .mr-layout.mr-windowheight .mr-container {
    height: 100%;
}
.mr-theme .mr-layout.mr-windowheight .mr-item .mr-container {
    overflow: hidden;
}
.mr-theme .mr-layout.mr-windowheight .mr-item.active .mr-container {
    overflow: auto;
}
/*--PAGINATION ON CONTENT--*/
.mr-theme .mr-layout.mr-contentpagination {
	position: relative;
}
.mr-theme .mr-layout.mr-contentpagination .mr-pagination {
	position: absolute;
    bottom: 0rem;
	width: 100%;
	z-index: 2;
	text-align: center;
}
.mr-theme .mr-layout.mr-contentpagination .mr-below {
	position: absolute;
    width: 100%;
    bottom: 0rem;
}
.mr-theme .mr-layout.mr-contentpagination .mr-below:not(.mr-hidden) + .mr-pagination {
    bottom: 1rem;
}
.mr-theme .mr-layout.mr-contentpagination .mr-next, .mr-theme .mr-layout.mr-contentpagination .mr-prev {
    position: absolute;
    top: 50%;
	float: inherit;
	z-index: 3;
}
.mr-theme .mr-layout.mr-contentpagination .mr-prev {
	left: 0;
}
.mr-theme .mr-layout.mr-contentpagination .mr-next {
	right: 0;
}
.mr-theme .mr-layout.mr-contentpagination .mr-item .mr-container {
    padding: 0 1.75rem 4rem 1.75rem;
}
/*---WHEN ACTIVE HIDE INACTIVE---*/
.mr-theme .mr-layout.mr-hideinactives:not(.mr-onlyactives) .mr-item.inactive {
	display: none;
}
/*---ONLY SHOW ACTIVES---*/
.mr-theme .mr-layout.mr-onlyactives .mr-pages .mr-item:not(.active) {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
}
/*PAGE TRANSITIONS*/
@keyframes fadeOut {
    0% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideOut {
    0% { 
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@keyframes slideIn {
    0% { 
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes slideOutRight {
    0% { 
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes slideInRight {
    0% { 
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes slideOutLeft {
    0% { 
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@keyframes slideInLeft {
    0% { 
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes scaleOut {
    0% { 
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes scaleIn {
    0% { 
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% { 
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes zoomIn {
    0% { 
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.mr-theme .mr-layout .mr-pages.mr-fade {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-fade.active:not(.inactive) {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-slide {
    -webkit-animation: slideOut 0.5s;
    animation: slideOut 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-slide.active:not(.inactive) {
    -webkit-animation: slideIn 0.5s;
    animation: slideIn 0.5s;
}
.mr-theme .mr-layout.mr-transitionright .mr-pages.mr-slide {
    -webkit-animation: slideOutRight 0.5s;
    animation: slideOutRight 0.5s;
}
.mr-theme .mr-layout.mr-transitionright .mr-pages.mr-slide.active:not(.inactive) {
    -webkit-animation: slideInRight 0.5s;
    animation: slideInRight 0.5s;
}
.mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-slide {
    -webkit-animation: slideOutLeft 0.5s;
    animation: slideOutLeft 0.5s;
}
.mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-slide.active:not(.inactive) {
    -webkit-animation: slideInLeft 0.5s;
    animation: slideInLeft 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-scale {
    transform-origin: center;
    -webkit-animation: scaleOut 0.5s;
    animation: scaleOut 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-scale.active:not(.inactive) {
    -webkit-animation: scaleIn 0.5s;
    animation: scaleIn 0.5s;
}
.mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-scale:not(.active), .mr-theme .mr-layout.mr-transitionright .mr-pages.mr-scale.active {
    transform-origin: right center;
}
.mr-theme .mr-layout.mr-transitionright .mr-pages.mr-scale:not(.active), .mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-scale.active {
    transform-origin: left center;
}
.mr-theme .mr-layout .mr-pages.mr-zoom {
    transform-origin: center;
    -webkit-animation: zoomOut 0.5s;
    animation: zoomOut 0.5s;
}
.mr-theme .mr-layout .mr-pages.mr-zoom.active:not(.inactive) {
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
.mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-zoom:not(.active), .mr-theme .mr-layout.mr-transitionleft .mr-pages.mr-zoom.active {
    transform-origin: left center;
}
.mr-theme .mr-layout.mr-transitionright .mr-pages.mr-zoom:not(.active), .mr-theme .mr-layout.mr-transitionright .mr-pages.mr-zoom.active {
    transform-origin: right center;
}
/*RESPONSIVE QUERIES*/
@media only screen and (orientation: portrait) {
    .mr-theme .mr-layout:not(.mr-landscape) .mr-pages:not(.mr-perliner) {
		flex-direction: column;
	}
}
@media only screen and (max-width: 59.94em) and (min-width: 47.94em) {
	.mr-theme .mr-layout .mr-pages.mr-perliner:not(.mr-3perline):not(.mr-2perline):not(.mr-1perline) .mr-item {
		width: 33.333333%;
    }
    .mr-theme .mr-layout.mr-contentpagination .mr-item .mr-container {
        padding-bottom: 5.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: landscape) {
	.mr-theme .mr-layout:not(.mr-portrait) .mr-pages.mr-perliner:not(.mr-2perline):not(.mr-1perline) .mr-item {
		width: 50%;
    }
    .mr-theme .mr-layout.mr-contentpagination .mr-item .mr-container {
        padding-bottom: 7.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: portrait) {
	.mr-theme .mr-layout:not(.mr-landscape) .mr-pages.mr-perliner:not(.mr-1perline) .mr-item {
		width: 100%;
    }
    .mr-theme .mr-layout.mr-contentpagination .mr-item .mr-container {
        padding-bottom: 7.4rem;
    }
}