.mrwid-hidden {
    display: none !important;
}
.mrwid-theme {
	box-sizing: border-box;
}
.mrwid-theme *, .mrwid-theme.mrwid-default .mrwid-layout *::before, .mrwid-theme *::after {
    box-sizing: inherit;
}
.mrwid-theme .mrwid-layout {
    overflow: hidden;
}
.mrwid-theme .mrwid-layout .mrwid-pages, .mrwid-theme .mrwid-layout .mrwid-tabs {
    list-style-type: none;
    margin: 0;
}
.widget_mr_categories .widgettitle {
    text-transform: capitalize;
}
.mrwid-theme .mrwid-layout .mr-wid:not(.active):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: block;
    cursor: pointer;
}
.mrwid-layout:not(.mrwid-hover) .mr-wid:not(.active), .mrwid-layout:not(.mrwid-hover):not(.mrwid-donotinactive) .mr-wid.active {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.mrwid-layout:not(.mrwid-hover):not(.mrwid-donotinactive) .mr-wid.active *.mrwid-content {
    cursor: initial;
}
/*
.mrwid-theme .mrwid-layout .mr-wid:not(.active) {
    cursor: pointer;
}
.mrwid-theme .mrwid-layout:not(.mrwid-donotinactive) .mr-wid.active {
    cursor: pointer;
}
.mrwid-layout:not(.mrwid-hover) .mr-wid.active .mrwid-content {
    cursor: initial;
}*/
.mrwid-theme .mrwid-layout .ios-scrolling {
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}
.mrwid-theme .mrwid-layout .mrwid-pages, .mrwid-theme .mrwid-layout .mrwid-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
}
.mrwid-theme .mrwid-layout .mrwid-pages.inactive:not(.active) {
    display: none;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner {
    flex-wrap: wrap;
}
.mrwid-theme .mrwid-layout .mrwid-tabs {
    overflow: auto;
}
.mrwid-theme .mrwid-layout .mr-wid, .mrwid-theme .mrwid-layout .mrwid-title, .mrwid-theme .mrwid-layout .mrwid-content, .mrwid-theme .mrwid-layout .mr-tab {
    position: relative;
}
.mrwid-theme .mrwid-layout .mr-tab {
    text-align: center;
    cursor: pointer;
}
.mrwid-theme .mrwid-layout .mr-tab.active {
    font-weight: 700;
}
.mrwid-theme .mrwid-layout:not(.mrwid-windowheight) .mr-wid, .mrwid-theme .mrwid-layout:not(.mrwid-windowheight) .mrwid-container {
    min-height: 100%;
}
.mrwid-subitemactive .mrwid-subcat {
    display: none;
}
.mrwid-theme .mrwid-layout .mrwid-pages:not(.mrwid-perliner) .mr-wid, .mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-1perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs:not(.mrwid-perliner) .mr-tab, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-1perline .mr-tab {
    width: 100%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-2perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-2perline .mr-tab {
    width: 50%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-3perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-3perline .mr-tab {
    width: 33.33333333333333%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-4perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-4perline .mr-tab {
    width: 25%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-5perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-5perline .mr-tab {
    width: 20%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-6perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-6perline .mr-tab {
    width: 16.66666666666667%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-7perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-7perline .mr-tab {
    width: 14.28571428571429%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-8perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-8perline .mr-tab {
    width: 12.5%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-9perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-9perline .mr-tab {
    width: 11.11111111111111%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-10perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-10perline .mr-tab {
    width: 10%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-11perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-11perline .mr-tab {
    width: 9.090909090909091%;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner.mrwid-12perline .mr-wid, .mrwid-theme .mrwid-layout .mrwid-tabs.mrwid-perliner.mrwid-12perline .mr-tab {
    width: 8.333333333333333%;
}
.mrwid-theme .mrwid-layout .mrwid-scroll:not(.mrwid-below):not(.loading) {
    display: none;
}
.mrwid-theme .mrwid-layout .mrwid-below.loading span, .mrwid-theme .mrwid-layout .mrwid-scroll.loading span {
    font-size: 0;
}
.mrwid-theme .mrwid-layout .mrwid-below.loading span:after, .mrwid-theme .mrwid-layout .mrwid-scroll.loading span:after {
    content: "...";
    font-size: initial;
}
/*--IMAGES--*/
.mrwid-theme .mrwid-layout .mrwid-image {
    overflow: hidden;
    min-height: 4.5rem;
    margin: 0;
}
.mrwid-theme .mrwid-layout:not(.mrwid-thumbnail) .mrwid-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mrwid-theme .mrwid-layout .mrwid-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
    .mrwid-theme .mrwid-layout.mrwid-parallax .mrwid-image {
        background-attachment: fixed;
    }
    /*EDGE*/
    _:-ms-lang(x), _:-webkit-full-screen, .mrwid-theme .mrwid-layout.mrwid-parallax .mrwid-image {
        background-attachment: scroll !important;
        background-position: center !important;
    }
    /*iOS*/
    @supports (-webkit-overflow-scrolling: touch) {
        .mrwid-theme .mrwid-layout.mrwid-parallax .mrwid-image {
            background-attachment: scroll !important;
            background-position: center !important;
        }
    }
}
.mrwid-theme .mrwid-layout .mrwid-image figcaption {
    display: inherit;
}
/*--WINDOW HEIGHT--*/
.mrwid-theme .mrwid-layout.mrwid-windowheight .mrwid-pages {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
    overflow-y: auto;
}
.mrwid-theme .mrwid-layout:not(.mrwid-list).mrwid-windowheight .mrwid-pages:not(.mrwid-perliner) {
    overflow: auto;
}
.mrwid-theme .mrwid-layout.mrwid-windowheight .mr-wid, .mrwid-theme .mrwid-layout.mrwid-windowheight .mrwid-container {
    height: 100%;
}
.mrwid-theme .mrwid-layout.mrwid-windowheight .mr-wid .mrwid-container {
    overflow: hidden;
}
.mrwid-theme .mrwid-layout.mrwid-windowheight .mr-wid.active .mrwid-container {
    overflow: auto;
}
/*--PAGINATION ON CONTENT--*/
.mrwid-theme .mrwid-layout.mrwid-contentpagination {
	position: relative;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-pagination {
	position: absolute;
    bottom: 0rem;
	width: 100%;
	z-index: 2;
	text-align: center;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-below {
	position: absolute;
    width: 100%;
    bottom: 0rem;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-below:not(.mrwid-hidden) + .mrwid-pagination {
    bottom: 1rem;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-next, .mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-prev {
    position: absolute;
    top: 50%;
	float: inherit;
	z-index: 3;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-prev {
	left: 0;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mrwid-next {
	right: 0;
}
.mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
    padding: 0 1.75rem 4rem 1.75rem;
}
/*---WHEN ACTIVE HIDE INACTIVE---*/
.mrwid-theme .mrwid-layout.mrwid-hideinactives:not(.mrwid-onlyactives) .mr-wid.inactive {
	display: none;
}
/*---ONLY SHOW ACTIVES---*/
.mrwid-theme .mrwid-layout.mrwid-onlyactives .mrwid-pages .mr-wid:not(.active) {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
}
/*PAGE TRANSITIONS*/
@keyframes fadeOut {
    0% { 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideOut {
    0% { 
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}
@keyframes slideIn {
    0% { 
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes slideOutRight {
    0% { 
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes slideInRight {
    0% { 
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes slideOutLeft {
    0% { 
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@keyframes slideInLeft {
    0% { 
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes scaleOut {
    0% { 
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
}
@keyframes scaleIn {
    0% { 
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes zoomOut {
    0% { 
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes zoomIn {
    0% { 
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-fade {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-fade.active:not(.inactive) {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-slide {
    -webkit-animation: slideOut 0.5s;
    animation: slideOut 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-slide.active:not(.inactive) {
    -webkit-animation: slideIn 0.5s;
    animation: slideIn 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-slide {
    -webkit-animation: slideOutRight 0.5s;
    animation: slideOutRight 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-slide.active:not(.inactive) {
    -webkit-animation: slideInRight 0.5s;
    animation: slideInRight 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-slide {
    -webkit-animation: slideOutLeft 0.5s;
    animation: slideOutLeft 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-slide.active:not(.inactive) {
    -webkit-animation: slideInLeft 0.5s;
    animation: slideInLeft 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-scale {
    transform-origin: center;
    -webkit-animation: scaleOut 0.5s;
    animation: scaleOut 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-scale.active:not(.inactive) {
    -webkit-animation: scaleIn 0.5s;
    animation: scaleIn 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-scale:not(.active), .mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-scale.active {
    transform-origin: right center;
}
.mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-scale:not(.active), .mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-scale.active {
    transform-origin: left center;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-zoom {
    transform-origin: center;
    -webkit-animation: zoomOut 0.5s;
    animation: zoomOut 0.5s;
}
.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-zoom.active:not(.inactive) {
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
.mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-zoom:not(.active), .mrwid-theme .mrwid-layout.mrwid-transitionleft .mrwid-pages.mrwid-zoom.active {
    transform-origin: left center;
}
.mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-zoom:not(.active), .mrwid-theme .mrwid-layout.mrwid-transitionright .mrwid-pages.mrwid-zoom.active {
    transform-origin: right center;
}
/*RESPONSIVE QUERIES*/
@media only screen and (orientation: portrait) {
    .mrwid-theme .mrwid-layout:not(.mrwid-landscape) .mrwid-pages:not(.mrwid-perliner) {
		flex-direction: column;
	}
}
@media only screen and (max-width: 59.94em) and (min-width: 47.94em) {
	.mrwid-theme .mrwid-layout .mrwid-pages.mrwid-perliner:not(.mrwid-3perline):not(.mrwid-2perline):not(.mrwid-1perline) .mr-wid {
		width: 33.333333%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 5.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: landscape) {
	.mrwid-theme .mrwid-layout:not(.mrwid-portrait) .mrwid-pages.mrwid-perliner:not(.mrwid-2perline):not(.mrwid-1perline) .mr-wid {
		width: 50%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 7.4rem;
    }
}
@media only screen and (max-width: 47.94em) and (orientation: portrait) {
	.mrwid-theme .mrwid-layout:not(.mrwid-landscape) .mrwid-pages.mrwid-perliner:not(.mrwid-1perline) .mr-wid {
		width: 100%;
    }
    .mrwid-theme .mrwid-layout.mrwid-contentpagination .mr-wid .mrwid-container {
        padding-bottom: 7.4rem;
    }
}